<!--Page header-->
<!-- <app-page-header
  [title]="'Trasnsfer Deal Input'"
  [icon]="'grid'"
  [title1]="'Foregn Exchange Fx'"
  [activeitem]="'Transfer Input'"
  [isBtnList]="true"
></app-page-header> -->
<!--End Page header-->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Top Product Sales Overview</h5>
          <div class="card-options" ngbDropdown>
            <a
              href="javascript:void(0);"
              class="option-dots"
              data-bs-toggle="dropdown"
              ngbDropdownToggle
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-horizontal"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Today</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Week</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Month</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Year</a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-vcenter text-nowrap mb-0 table-bordered border-top"
            >
              <thead class="">
                <tr>
                  <th>TRACKING ID</th>
                  <th>Product</th>
                  <th>Sold</th>
                  <th>Payment Mode</th>
                  <th>Stock</th>
                  <th>Amount</th>
                  <th>Stock Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12300</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/7.jpg"
                      alt="media1"
                    />
                    New Book
                  </td>
                  <td><span class="badge bg-primary-transparent">181</span></td>
                  <td><span class="fw-semibold"> Online Payment</span></td>
                  <td>112</td>
                  <td class="number-font">$2,356</td>
                  <td><i class="fa fa-check me-1 text-success"></i> In Stock</td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12301</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/8.jpg"
                      alt="media1"
                    />
                    New Bowl
                  </td>
                  <td><span class="badge bg-info-transparent">110</span></td>
                  <td><span class="fw-semibold">Cash on Delivery</span></td>
                  <td>210</td>
                  <td class="number-font">$3,522</td>
                  <td><i class="fa fa-check text-success"></i> In Stock</td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12302</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/9.jpg"
                      alt="media1"
                    />
                    Modal Car
                  </td>
                  <td><span class="badge bg-success-transparent">153</span></td>
                  <td><span class="fw-semibold">Cash on Delivery</span></td>
                  <td>215</td>
                  <td class="number-font">$5,362</td>
                  <td><i class="fa fa-check text-success"></i> In Stock</td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12303</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/10.jpg"
                      alt="media1"
                    />
                    Headset
                  </td>
                  <td><span class="badge bg-primary-transparent">221</span></td>
                  <td><span class="fw-semibold">Online Payment</span></td>
                  <td>102</td>
                  <td class="number-font">$1,326</td>
                  <td><i class="fa fa-check text-success"></i> In Stock</td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12304</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/12.jpg"
                      alt="media1"
                    />
                    Watch
                  </td>
                  <td><span class="badge bg-danger-transparent">314</span></td>
                  <td><span class="fw-semibold">Cash on Delivery</span></td>
                  <td>325</td>
                  <td class="number-font">$5,234</td>
                  <td><i class="fa fa-check text-success"></i> In Stock</td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12305</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/13.jpg"
                      alt="media1"
                    />
                    Shoes
                  </td>
                  <td><span class="badge bg-success-transparent">181</span></td>
                  <td><span class="fw-semibold">Online Payment</span></td>
                  <td>0</td>
                  <td class="number-font">$3,256</td>
                  <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i> Out of
                    stock
                  </td>
                </tr>
                <tr class="mb-0">
                  <td>
                    <span class="text-primary fw-semibold">#CHDE12306</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <img
                      class="wd-25 ht-25 rounded shadow me-3"
                      src="./assets/images/orders/11.jpg"
                      alt="media1"
                    />EarPhones
                  </td>
                  <td><span class="badge bg-warning-transparent">680</span></td>
                  <td><span class="fw-semibold">Online Payment</span></td>
                  <td>0</td>
                  <td class="number-font">$7,652</td>
                  <td>
                    <i class="fa fa-exclamation-triangle text-danger"></i> Out of
                    stock
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>