<!--Page header-->
<app-page-header
  [title]="'TMU RATES'"
  [icon]="'grid'"
  [title1]="'Money Market (MM)'"
  [activeitem]="'MM DESK TMU RATES INPUT'"
  [isBtnList]="true"
></app-page-header>
<!--End Page header-->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">DESK TMU RATES INPUT</h5>
          <div class="card-options" ngbDropdown>
            <a
              href="javascript:void(0);"
              class="option-dots"
              data-bs-toggle="dropdown"
              ngbDropdownToggle
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-horizontal"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Today</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Week</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Month</a
              >
              <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
                >Last Year</a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-vcenter text-nowrap mb-0 table-bordered border-top"
            >
              <thead class="">
                <tr>
                  <th>TRACKING ID</th>
                  <th>BID</th>
                  <th>OFFER</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">Sight</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">1 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">2 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">3 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">4 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-primary fw-semibold">5 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr class="mb-0">
                  <td>
                    <span class="text-primary fw-semibold">6 Month</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
                <tr class="mb-0">
                  <td>
                    <span class="text-primary fw-semibold">Above 6 Month Days</span>
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                  <td class="font-weight-bold text-truncate">
                    <input class="form-control" type="number" name="number">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>