.credentials {
  background: #705ec8;
  color: #ffffff;
  padding: 25px 20px;
  border-radius: 6px;
}
.custom-control-input {
  left: 1px;
  top: 6px;
}
.firebase-img {
  width: 75px;
  height: 25px;
}
.firebase-img img {
  width: 28px;
  height: 28px;
}
.main-signin-header .form-control {

  border-width: 1px;
  }
  
  .firebase-img img {
  width: 28px;
  height: 28px;
  }
  