<!--Page header-->
<app-page-header
  [title]="'Input Outright'"
  [icon]="'grid'"
  [title1]="'Foregn Exchange Fx'"
  [activeitem]="'Outright Input'"
  [isBtnList]="true"
></app-page-header>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Outright Deal</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <form class="d-flex flex-wrap">
            <div class="col-lg-6 col-md-12">
              <div class="form-group row">
                <label class="col-md-3 form-label">Counter Party</label>
                <div class="col-md-9">
                  <ng-select placeholder="Counter Party">
                    <ng-option>MCB Bank Limited</ng-option>
                    <ng-option>State Bank of Pakistan</ng-option>
                    <ng-option>Treasury Client</ng-option>
                    <ng-option>United Bank Limited</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label">We</div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Buy</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Sell</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Currency Buy</label>
                <div class="col-md-9">
                  <ng-select placeholder="Currency Buy">
                    <ng-option>AUD</ng-option>
                    <ng-option>JPY</ng-option>
                    <ng-option>PKR</ng-option>
                    <ng-option>GBP</ng-option>
                    <ng-option>EUR</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Buy Amount</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Maturity Date</label>
                <div class="col-md-9">
                  <input class="form-control" type="date" name="date" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Ready Rate</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Deal Rate</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Inv. Calc Rate</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Pkr Equiv</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Mode of Deal</label>
                <div class="col-md-9">
                  <ng-select placeholder="Deal Mode">
                    <ng-option>Broker</ng-option>
                    <ng-option>Reuter</ng-option>
                    <ng-option>Telephone</ng-option>
                    <ng-option>Fax</ng-option>
                    <ng-option>Trader</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label">Brokerage</div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Yes</span> 
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">No</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group row">
                <label class="col-md-3 form-label">Broker</label>
                <div class="col-md-9">
                  <ng-select placeholder="Brokers">
                    <ng-option>Js Global Capital</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Broker Amount</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Currency Sell</label>
                <div class="col-md-9">
                  <ng-select placeholder="Currency Sell">
                    <ng-option>AUD</ng-option>
                    <ng-option>JPY</ng-option>
                    <ng-option>PKR</ng-option>
                    <ng-option>GBP</ng-option>
                    <ng-option>EUR</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Sell Amount</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Maturity Days</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Forward Premium</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">System Calc Rate</label>
                <div class="col-md-9">
                  <input class="form-control" type="number" name="number" />
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label">Deal Type</div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Ready</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Spot</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option3"
                    />
                    <span class="custom-control-label">Forward</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-label">Direct Set!</label>
                <div class="col-md-9">
                  <ng-select>
                    <ng-option>Yes</ng-option>
                    <ng-option>No</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label">SBP/Settlement Ac</div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">SBP</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Settlement</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option3"
                    />
                    <span class="custom-control-label">None</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-label">Remarks</label>
                <textarea class="form-control" rows="6">Remarks</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row -->
