<app-page-header
  [title]="'Short Sales'"
  [icon]="'grid'"
  [title1]="'Money Market (MM)'"
  [activeitem]="'SHORT SALE INPUT WHEN ISSUE (TB/PIB)'"
  [isBtnList]="true"
></app-page-header>

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Short Sale Input (When Issue)</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Type</label>
                  <div class="col-md-8">
                    <ng-select placeholder="PIBS">
                      <ng-option>Treasury Bills</ng-option>
                      <ng-option>PIBS</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Counter Party</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row invisible">
                  <label class="col-md-4 form-label">Type</label>
                  <div class="col-md-8">
                    <ng-select placeholder="PIBS">
                      <ng-option>Treasury Bills</ng-option>
                      <ng-option>PIBS</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap mt-3">
              <div class="col-lg-6 col-md-12">
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">IPS Account</div>
                  <div
                    class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="ips-amount"
                        value="option1"
                        
                      />
                      <span class="custom-control-label">No</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="ips-amount"
                        value="option2"
                      />
                      <span class="custom-control-label">Yes</span>
                    </label>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">Settlement Mode</div>
                  <div
                    class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="settlement-mode"
                        value="option1"
                       
                      />
                      <span class="custom-control-label">SBP</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="settlement-mode"
                        value="option2"
                      />
                      <span class="custom-control-label">Debit A/C</span>
                    </label>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Branch</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" name="number" />
                  </div>
                  <div class="col-md-5">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
               </div>
            </form>
            <form class="d-flex flex-wrap mt-3">
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Auction No</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Issue Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Amount In PKR</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Settlement Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Tenor</label>
                  <div class="col-md-7">
                    <ng-select placeholder="SELECT MONTHS OR YEARS">
                      <ng-option>3-Months</ng-option>
                      <ng-option>6-Months</ng-option>
                      <ng-option>1-Years</ng-option>
                      <ng-option>3-Years</ng-option>
                      <ng-option>5-Years</ng-option>
                      <ng-option>7-Years</ng-option>
                      <ng-option>10-Years</ng-option>
                      <ng-option>15-Years</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Yield</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Remaining Days</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Coupon</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 form-label">Selling Price</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap mt-3">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Accrued Int. Calc</label>
                  <div class="col-md-8">
                    <ng-select placeholder="MARKETBASE">
                      <ng-option>SBP Calc (365)</ng-option>
                      <ng-option>SBP Calc (365)</ng-option>
                      <ng-option>Market Base</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Accrued Amount</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">Mode Of Deal</div>
                  <div
                    class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option1"
                       
                      />
                      <span class="custom-control-label">Direct</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option2"
                      />
                      <span class="custom-control-label">Broker</span>
                    </label>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Direct Option</label>
                  <div class="col-md-8">
                    <ng-select placeholder="SELECT OPTION">
                      <ng-option>BLOOMBERG</ng-option>
                      <ng-option>BROKER</ng-option>
                      <ng-option>FAX</ng-option>
                      <ng-option>MOBIT</ng-option>
                      <ng-option>REUTERS</ng-option>
                      <ng-option>TELEPHONE</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Broker</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Brokerage Amt</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
            <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Remarks</label>
                  <textarea class="form-control" rows="6">Remarks</textarea>
                </div>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Row -->