.swap-deal{
    border: solid 1px grey;
}
.inner-swap-deal{
    width: 100%;
    background: #f4f4f4;
    
    
}
.form{
    width: 90%;
    margin: 0 auto;
}
p{
    margin: 0;
    padding: 0;
}
.bdr{
    border: solid 1px black;
}
h3{
    background: rgb(48, 38, 38);
    color: white;
    padding: 7px 0;
    font-weight: 700;
    
}
.row{
    width: 100%;
    font-weight: 600;
}
input{
    width: 250px;
    height: 30px;
}
// css for left section
.custome-radio{
    height: 12px;
    width: 12px;
}
// right section
// .trade{
//     gap: 100px;
// }