.swap-deal{
    border: solid 1px grey;
}
.form{
    width: 90%;
    margin: 0 auto;
}
p{
    margin: 0;
    padding: 0;
}
.bdr{
    border: solid 1px grey;
}
h3{
    background: #453f3e;
    color: white;
    padding: 7px 0;
    font-weight: 700;
    
}
.row{
    width: 100%;
    font-size: 12px;
    
}

// css for left section
.custome-radio{
    height: 12px;
    width: 12px;
}
.font-size-12{
    font-size: 12px;
}
// css for right section
.currency-sell{
    margin-top: 130px;
}