.swap-deal{
    border: solid 1px grey;
}
.form{
    width: 90%;
    margin: 0 auto;
}
label{
    font-weight: 700;
    font-size: 12px;
}
p{
    margin: 0;
    padding: 0;
}
.bdr{
    border: solid 1px grey;
}
h3{
    background: #453f3e;
    color: white;
    padding: 7px 0;
    font-weight: 700;
    
}
h2{
    letter-spacing: 3px;
    
}
.row{
    width: 100%;
    font-size: 12px;
    
}
textarea{
    height: 100px;
}
