<!-- Page header-->
<app-page-header
  [title]="'Hi! Welcome Back'"
  [icon]="'home'"
  [title1]="'Home'"
  [activeitem]="'Money Market Dashboard'"
></app-page-header>
<!--End Page header -->

<!-- Row-1 -->

<div class="row">
  <!-- <div class="col-lg-12 col-xl-3 col-sm-12 col-md-12">
    <div class="card mb-5">
      <div class="card-body">
        <div class="media mt-0">
          <figure class="rounded-circle align-self-start mb-0 me-2">
            <img
              src="./assets/images/users/1.jpg"
              alt="Generic placeholder image"
              class="avatar brround avatar-md me-3"
            />
          </figure>
          <div class="media-body time-title1 mt-1">
            <h5 class="time-title p-0 mb-0 font-weight-semibold leading-normal">
              Mr. Ghafoor
            </h5>
            Money Market Trader
          </div>
           <button class="btn btn-primary d-none d-sm-block me-2"><i class="fa fa-comments"></i> </button>
                    <button class="btn btn-info d-none d-sm-block"><i class="fa fa-phone"></i> </button>
        </div>
      </div>
      <div class="card-footer text-secondary border-top">
        Email: <span class="text-primary">kodevglobal@gmaail.com</span>
      </div>
    </div>
  </div> -->
  <div class="col-xl-3 col-md-12 col-lg-12 col-sm-12">
    <div class="card bg-primary text-white">
      <div class="card-body text-center">
        <img
          class="avatar avatar-xl brround mb-3 mx-auto"
          src="./assets/images/users/16.jpg"
          alt="img"
        />
        <h4 class="font-weight-semibold mb-1 text-white">Mr. Ghafoor</h4>
        <p class="fs-12 mb-0">Money Market Trader</p>
      </div>
      <div class="card-body border-transparent">
        <div class="row mb-3">
          <div class="col-4 fs-12">Email</div>
          <div class="col-8 font-weight-semibold fs-12">
            kodevglobal@gmail.com
          </div>
        </div>
        <!-- <div class="row">
                <div class="col-4 fs-12">Education</div>
                <div class="col-8 font-weight-semibold fs-12">Bachelors of Engineering</div>
            </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-9 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Trade Status</div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row flex-wrap">
          <div class="col-md-12 col-xl-4 col-lg-6">
            <div class="card text-center">
              <div class="card-body">
                <span>Pending Approvals</span>
                <h2 class="mb-3 mt-3 font-weight-bold">6532</h2>
                <div class="text-muted">
                  <i class="si si-arrow-up-circle text-danger"></i>
                  <span class=""> 15%</span> Increase
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-4 col-lg-6">
            <div class="card text-center">
              <div class="card-body">
                <span>Settle Trade Today</span>
                <h2 class="mb-3 mt-3 font-weight-bold">5835</h2>
                <div class="text-muted">
                  <i class="si si-arrow-up-circle text-success"></i>
                  <span class=""> 22%</span> Increase
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-4 col-lg-6">
            <div class="card text-center">
              <div class="card-body">
                <span>Trade Maturity this week</span>
                <h2 class="mb-3 mt-3 font-weight-bold">PKR69588</h2>
                <div class="text-muted">
                  <i class="si si-arrow-up-circle text-success"></i>
                  <span class=""> 32%</span> Increase
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-5 col-xl-3">
    <div class="card bg-warning">
      <div class="card-body">
        <div class="d-flex no-block align-items-center">
          <div>
            <h6 class="text-white">Sales</h6>
            <h2 class="text-white m-0 font-weight-bold">25k</h2>
          </div>
          <div class="ms-auto">
            <span class="text-white display-6"
              ><i class="fe fe-bar-chart"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-info">
      <div class="card-body">
        <div class="d-flex no-block align-items-center">
          <div>
            <h6 class="text-white">Invoices</h6>
            <h2 class="text-white m-0 font-weight-bold">625</h2>
          </div>
          <div class="ms-auto">
            <span class="text-white display-6"
              ><i class="fe fe-file-text"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-secondary">
      <div class="card-body">
        <div class="d-flex no-block align-items-center">
          <div>
            <h6 class="text-white">Sales</h6>
            <h2 class="text-white m-0 font-weight-bold">25k</h2>
          </div>
          <div class="ms-auto">
            <span class="text-white display-6"
              ><i class="fe fe-bar-chart"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-3 col-xl-2 col-sm-12">
    <div class="card overflow-hidden">
      <div class="card-header border-bottom">
        <h4 class="card-title fw-semibold">Total Holdings</h4>
      </div>
      <div class="card-body p-0 customers mt-1">
        <div class="list-group py-1">
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item border-0">
              <div class="media mt-0 align-items-center">
                <div class="avatar bg-primary-transparent me-3">
                  <i class="fe fe-chevrons-right"></i>
                </div>
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-0">
                      <h5 class="mb-1 fs-13 fw-normal text-dark">T-Bills</h5>
                    </div>
                    <span class="ms-auto fs-14 fw-semibold">
                      <span class="float-end">21.5%</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item border-0">
              <div class="media mt-0 align-items-center">
                <div class="avatar bg-warning-transparent me-3">
                  <i class="fe fe-briefcase"></i>
                </div>
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-0">
                      <h5 class="mb-1 fs-13 fw-normal text-dark">PIBs</h5>
                    </div>
                    <span class="ms-auto fs-14 fw-semibold">
                      <span class="float-end">2.5%</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item border-0">
              <div class="media mt-0 align-items-center">
                <div class="avatar bg-success-transparent me-3">
                  <i class="fe fe-dollar-sign"></i>
                </div>
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-0">
                      <h5 class="mb-1 fs-13 fw-normal text-dark">
                        Repo Position
                      </h5>
                    </div>
                    <span class="ms-auto fs-14 fw-semibold">
                      <span class="float-end">2.5%</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <span>Market Action</span>
        <h3 class="mb-1 mt-1 font-weight-bold">Trades Maturity this week</h3>
        <div class="text-muted">
          <i class="si si-arrow-up-circle text-success"></i>
          <span class="ms-1">Daily/Weekly</span> Increase
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card custom-card overflow-auto">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Pie Chart</h6>
          <p class="text-muted card-sub-title">Settled Trades</p>
        </div>
        <div class="chartjs-wrapper-demo">
          <div class="chartjs-wrapper-demo">
            <apx-chart
              [series]="pieData.pieseries"
              [colors]="pieData.colors"
              [chart]="pieData.chart"
              [labels]="pieData.labels"
              [legend]="pieData.legend"
              [responsive]="pieData.responsive"
            >
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12">
    <div class="card custom-card overflow-auto">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Radical Circle Chart</h6>
          <p class="text-muted card-sub-title">Repos</p>
        </div>
        <div class="chartjs-wrapper-demo">
          <apx-chart
            [series]="radicalbarData.pieseries"
            [colors]="radicalbarData.colors"
            [chart]="radicalbarData.chart"
            [labels]="radicalbarData.labels"
            [responsive]="radicalbarData.responsive"
            [plotOptions]="radicalbarData.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Top Product Sales Overview</h5>
        <div class="card-options" ngbDropdown>
          <a
            href="javascript:void(0);"
            class="option-dots"
            data-bs-toggle="dropdown"
            ngbDropdownToggle
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fe fe-more-horizontal"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
              >Today</a
            >
            <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
              >Last Week</a
            >
            <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
              >Last Month</a
            >
            <a class="dropdown-item" href="javascript:void(0);" ngbDropdownItem
              >Last Year</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-vcenter text-nowrap mb-0 table-bordered border-top"
          >
            <thead class="">
              <tr>
                <th>TRACKING ID</th>
                <th>Product</th>
                <th>Sold</th>
                <th>Payment Mode</th>
                <th>Stock</th>
                <th>Amount</th>
                <th>Stock Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12300</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/7.jpg"
                    alt="media1"
                  />
                  New Book
                </td>
                <td><span class="badge bg-primary-transparent">181</span></td>
                <td><span class="fw-semibold"> Online Payment</span></td>
                <td>112</td>
                <td class="number-font">PKR 2,356</td>
                <td><i class="fa fa-check me-1 text-success"></i> In Stock</td>
              </tr>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12301</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/8.jpg"
                    alt="media1"
                  />
                  New Bowl
                </td>
                <td><span class="badge bg-info-transparent">110</span></td>
                <td><span class="fw-semibold">Cash on Delivery</span></td>
                <td>210</td>
                <td class="number-font">PKR 3,522</td>
                <td><i class="fa fa-check text-success"></i> In Stock</td>
              </tr>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12302</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/9.jpg"
                    alt="media1"
                  />
                  Modal Car
                </td>
                <td><span class="badge bg-success-transparent">153</span></td>
                <td><span class="fw-semibold">Cash on Delivery</span></td>
                <td>215</td>
                <td class="number-font">PKR 5,362</td>
                <td><i class="fa fa-check text-success"></i> In Stock</td>
              </tr>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12303</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/10.jpg"
                    alt="media1"
                  />
                  Headset
                </td>
                <td><span class="badge bg-primary-transparent">221</span></td>
                <td><span class="fw-semibold">Online Payment</span></td>
                <td>102</td>
                <td class="number-font">PKR 1,326</td>
                <td><i class="fa fa-check text-success"></i> In Stock</td>
              </tr>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12304</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/12.jpg"
                    alt="media1"
                  />
                  Watch
                </td>
                <td><span class="badge bg-danger-transparent">314</span></td>
                <td><span class="fw-semibold">Cash on Delivery</span></td>
                <td>325</td>
                <td class="number-font">PKR 5,234</td>
                <td><i class="fa fa-check text-success"></i> In Stock</td>
              </tr>
              <tr>
                <td>
                  <span class="text-primary fw-semibold">#CHDE12305</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/13.jpg"
                    alt="media1"
                  />
                  Shoes
                </td>
                <td><span class="badge bg-success-transparent">181</span></td>
                <td><span class="fw-semibold">Online Payment</span></td>
                <td>0</td>
                <td class="number-font">PKR 3,256</td>
                <td>
                  <i class="fa fa-exclamation-triangle text-warning"></i> Out of
                  stock
                </td>
              </tr>
              <tr class="mb-0">
                <td>
                  <span class="text-primary fw-semibold">#CHDE12306</span>
                </td>
                <td class="font-weight-bold text-truncate">
                  <img
                    class="wd-25 ht-25 rounded shadow me-3"
                    src="./assets/images/orders/11.jpg"
                    alt="media1"
                  />EarPhones
                </td>
                <td><span class="badge bg-warning-transparent">680</span></td>
                <td><span class="fw-semibold">Online Payment</span></td>
                <td>0</td>
                <td class="number-font">PKR 7,652</td>
                <td>
                  <i class="fa fa-exclamation-triangle text-danger"></i> Out of
                  stock
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-12 col-xl-12 col-lg-8 col-md-12">
    <div class="card custom-card overflow-auto area-chart">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Area Chart With Random data</h6>
          <p class="text-muted card-sub-title">
            Below is the area chart with random data example.
          </p>
        </div>
        <div class="chartjs-wrapper-demo">
          <apx-chart
            [series]="RandomData.series"
            [chart]="RandomData.chart"
            [annotations]="RandomData.annotations"
            [colors]="RandomData.colors"
            [dataLabels]="RandomData.dataLabels"
            [markers]="RandomData.markers"
            [xaxis]="RandomData.xaxis"
            [tooltip]="RandomData.tooltip"
            [fill]="RandomData.fill"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-1 -->
