<!-- CALL/C.O.I DEAL INPUT START -->

<app-page-header
  [title]="'CALL DEAL INPUT'"
  [icon]="'grid'"
  [title1]="'Money Market (MM)'"
  [activeitem]="'CALL/C.O.I DEAL INPUT'"
  [isBtnList]="true"
></app-page-header>

<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title" *ngIf="activeSection === 'input'">
          CALL/C.O.I Deal Input
        </h4>
        <h4 class="card-title" *ngIf="activeSection === 'amendment'">
          CALL/C.O.I Deal Amendment
        </h4>
        <h4 class="card-title" *ngIf="activeSection === 'editing'">
          CALL/C.O.I Deal Editing
        </h4>
        <h4 class="card-title" *ngIf="activeSection === 'cancellation'">
          CALL/C.O.I Deal Cancellation
        </h4>
        <div class="btn-list">
          <button
            class="btn btn-warning me-2"
            (click)="setActiveSection('input')"
          >
            Input
          </button>
          <button
            class="btn btn-danger me-2"
            (click)="setActiveSection('amendment')"
          >
            Amendment
          </button>
          <button
            class="btn btn-info me-2"
            (click)="setActiveSection('editing')"
          >
            Editing
          </button>
          <button
            class="btn btn-secondary"
            (click)="setActiveSection('cancellation')"
          >
            Cancellation
          </button>
        </div>
      </div>
      <!-- input -->
      <div class="card-body" *ngIf="activeSection === 'input'">
        <div class="row">
          <form class="d-flex flex-wrap">
            <div class="col-lg-6 col-md-12">
              <div class="form-group row">
                <label class="col-md-4 form-label">Transaction Type</label>
                <div class="col-md-8">
                  <ng-select placeholder="-- CALL --">
                    <ng-option>Call</ng-option>
                    <ng-option>C.O.I</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Transaction No</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label"></div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Borrowing</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Landing</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Country Party</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Amount in PKR</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Rate</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Start Date</label>
                <div class="col-md-8">
                  <input class="form-control" type="date" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">No Of Days</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-label">Mode Of Deal</div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Direct</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Broker</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Broker</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Brokerage Amount</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group row invisible">
                <label class="col-md-4 form-label">Transaction Type</label>
                <div class="col-md-8">
                  <ng-select placeholder="-- CALL --">
                    <ng-option>Call</ng-option>
                    <ng-option>C.O.I</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Transaction Date</label>
                <div class="col-md-8">
                  <input class="form-control" type="date" name="number" />
                </div>
              </div>
              <div class="form-group d-flex justify-content-between invisible">
                <div class="form-label"></div>
                <div
                  class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                >
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option1"
                      checked
                    />
                    <span class="custom-control-label">Borrowing</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      name="example-radios"
                      value="option2"
                    />
                    <span class="custom-control-label">Landing</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label"></label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row invisible">
                <label class="col-md-4 form-label">Start Date</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">End Date</label>
                <div class="col-md-8">
                  <input class="form-control" type="date" name="number" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label">Direct Option</label>
                <div class="col-md-8">
                  <ng-select placeholder="-- CALL --">
                    <ng-option>BLOOMBERG</ng-option>
                    <ng-option>BROKER</ng-option>
                    <ng-option>FAX</ng-option>
                    <ng-option>MOBIT</ng-option>
                    <ng-option>REUTERS</ng-option>
                    <ng-option>TELEPHONE</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-label"></label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="number" />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-label">Remarks</label>
                <textarea class="form-control" rows="6">Remarks</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- cancellation -->
      <div class="card-body" *ngIf="activeSection === 'cancellation'">
        <form>
          <div class="">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label"
                >Enter Transaction Number</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Please Exit Transaction Number"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4 mb-0">Exit</button>
        </form>
      </div>

      <!-- Amendment -->
      <div class="card-body" *ngIf="activeSection === 'amendment'">
        <form>
          <div class="">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label"
                >Enter Transaction Number</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Please Exit Transaction Number"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4 mb-0">Exit</button>
        </form>
      </div>

      <!-- Editing -->
      <div class="card-body" *ngIf="activeSection === 'editing'">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <form class="form-horizontal ">
              <div class="text-center">
                <div class="form-group">
                  <h3 for="exampleInputEmail1" class="form-label"
                    >Enter Transaction Number</h3
                  >
                  <div class="col-md-12 mb-2">
                    <input class="form-control" type="number" name="number" />
                  </div>
                  <div class="col-md-12 mb-2">
                    <input class="form-control" type="number" name="number" />
                  </div>
                  <div class="col-md-12">
                    <input class="form-control" type="number" name="number" />
                  </div>

                </div>
                <button type="submit" class="btn btn-primary mt-4 mb-0">
                  Exit
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
