<app-page-header
  [title]="'TFC/Sukuk'"
  [icon]="'grid'"
  [title1]="'Money Market (MM)'"
  [activeitem]="'TFC/Sukuk-Outright Purchase Input'"
  [isBtnList]="true"
></app-page-header>

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Outright Purchase Input (TFC/Sukuk)</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Deal No</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Deal Date</label>
                  <div class="col-md-8">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Counter Party</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Issuer</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">TFC/Sukuk</label>
                  <div class="col-md-7">
                    <ng-select placeholder="TFC">
                      <ng-option>TFC</ng-option>
                      <ng-option>TFC</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
               <div class="form-group row">
                  <label class="col-md-5 form-label">Listed/Unlisted</label>
                  <div class="col-md-7">
                    <ng-select placeholder="Listed">
                      <ng-option>Unlisted</ng-option>
                      <ng-option>Listed</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Issue Tenor</label>
                  <div class="col-md-7">
                    <input class="form-control" type="number" name="number" placeholder="0" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Issue Date</label>
                  <div class="col-md-8">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Start Date</label>
                  <div class="col-md-8">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Issue Maturity</label>
                  <div class="col-md-8">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Coupon</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" placeholder="0.00"/>
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">No Of Units</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
               <div class="form-group row">
                  <label class="col-md-5 form-label">Accr Int. Calc</label>
                  <div class="col-md-7">
                    <ng-select placeholder="Actual Days">
                      <ng-option>Actual Days</ng-option>
                      <ng-option>Actual Days</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Price</label>
                  <div class="col-md-7">
                    <input class="form-control" type="number" name="number" placeholder="100.0000" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Principal O/s Amount</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number" placeholder="0.0000" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Accrued Interest</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number" placeholder="0.0000"/>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">Mode Of Deal</div>
                  <div
                    class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option1"

                      />
                      <span class="custom-control-label">Direct</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option2"
                      />
                      <span class="custom-control-label">Broker</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Broker</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Brokerage Amount</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">Settlement Mode</div>
                  <div
                    class="custom-controls-stacked d-flex w-75 justify-content-evenly"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="settlement-mode"
                        value="option1"

                      />
                      <span class="custom-control-label">SBP</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="settlement-mode"
                        value="option2"
                      />
                      <span class="custom-control-label">Settlement A/C</span>
                    </label>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Current Value</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number" placeholder="0.0000" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Cheque Amount</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number" placeholder="0.0000" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Direct Option</label>
                  <div class="col-md-8">
                    <ng-select placeholder="REUTERS DEALING SYSTEM">
                      <ng-option>BLOOMBERG</ng-option>
                      <ng-option>BROKER</ng-option>
                      <ng-option>FAX</ng-option>
                      <ng-option>MOBIT</ng-option>
                      <ng-option>REUTERS</ng-option>
                      <ng-option>TELEPHONE</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Classification</label>
                  <div class="col-md-8">
                    <ng-select placeholder="AVAILABLE FOR SALE">
                      <ng-option>Held to maturity</ng-option>
                      <ng-option>Available for sale</ng-option>
                      <ng-option>Held for trading</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Department</label>
                  <div class="col-md-8">
                    <ng-select placeholder="EQUITY CAPITAL MARKETS">
                      <ng-option>Equity Capital Markets</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Orignating Branch</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" placeholder="00102" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" placeholder="EQUITY CAPITAL MARKET BRANCH" />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
            <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Remarks</label>
                  <textarea class="form-control" rows="6">Remarks</textarea>
                </div>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Row -->
