<app-page-header
  [title]="'repo-borrowing-input'"
  [icon]="'grid'"
  [title1]="'Money Market (MM)'"
  [activeitem]="'REPO - BORROWING INPUT'"
  [isBtnList]="true"
></app-page-header>

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Repo - Borrowing Input</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Transaction No</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Deal Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">PKRV Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number"/>
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Counter Party</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" placeholder="MCB" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Amount In PKR</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number" placeholder="100,000,000" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Rate</label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" name="number"/>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number" placeholder="MCB BANK LTD." />
                  </div>
                </div>
              </div>
            </form>
            <form class="d-flex flex-wrap">
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">Start Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number"/>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">No Of Days</label>
                  <div class="col-md-7">
                    <input class="form-control" type="number" name="number" placeholder="2" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 form-label">End Date</label>
                  <div class="col-md-7">
                    <input class="form-control" type="date" name="number"/>
                  </div>
                </div>
              </div>
            </form>
            <!--  -->
            <!--  -->
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div>
                <div>
                  <h5 class="card-title">Top Product Sales Overview</h5>
                </div>
                <div class="card-body">
                  <div>
                    <table
                      class="table table-vcenter text-nowrap mb-0"
                    >
                      <thead class="">
                        <tr>
                          <th class="p-0 text-center">Security Type</th>
                          <th class="p-0 text-center">Tenor</th>
                          <th class="p-0 text-center">Issue Date</th>
                          <th class="p-0 text-center">Maturity Date</th>
                          <th class="p-0 text-center">Coupon</th>
                          <th class="p-0 text-center">Amount</th>
                          <th class="p-0 text-center">Switch Date</th>
                          <th class="p-0 text-center">PKRV Rate</th>
                          <th class="p-0 text-center">Price I</th>
                          <th class="p-0 text-center">Price II</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-0">
                            <ng-select class="h-100" placeholder="T-B">
                              <ng-option>T-B</ng-option>
                              <ng-option>T-B</ng-option>
                              <ng-option>T-B</ng-option>
                            </ng-select>
                          </td>
                          <td class="p-0">
                            <ng-select placeholder="1-Years">
                              <ng-option>3-Months</ng-option>
                              <ng-option>6-Months</ng-option>
                              <ng-option>1-Year</ng-option>
                              <ng-option>3-Years</ng-option>
                              <ng-option>5-Years</ng-option>
                              <ng-option>7-Years</ng-option>
                              <ng-option>10-Years</ng-option>
                              <ng-option>15-Years</ng-option>
                            </ng-select>
                          </td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>
                          <td class="p-0"> <input class="form-control" type="text" name="number" /></td>

                        </tr>






                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <!--  -->


            <form class="d-flex flex-wrap">
              <div class="col-lg-6 col-md-12">
                <div class="form-group d-flex justify-content-between">
                  <div class="form-label">Mode Of Deal</div>
                  <div
                    class="custom-controls-stacked d-flex w-50 justify-content-start gap-5"
                  >
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option1"

                      />
                      <span class="custom-control-label">Direct</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        name="deal-mode"
                        value="option2"
                      />
                      <span class="custom-control-label">Broker</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Broker</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Brokerage Amount</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-lg-6 col-md-12">
                <div class="form-group row">
                  <label class="col-md-4 form-label">Direct Option</label>
                  <div class="col-md-8">
                    <ng-select placeholder="REUTERS DEALING SYSTEM">
                      <ng-option>BLOOMBERG</ng-option>
                      <ng-option>BROKER</ng-option>
                      <ng-option>FAX</ng-option>
                      <ng-option>MOBIT</ng-option>
                      <ng-option>REUTERS</ng-option>
                      <ng-option>TELEPHONE</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="number"/>
                  </div>
                </div>
              </div>
            </form>

           <form class="d-flex flex-wrap">
            <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Remarks</label>
                  <textarea class="form-control" rows="6">Remarks</textarea>
                </div>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Row -->
